@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.8em;
  /*overflow: hidden;*/
  background: whitesmoke;

  nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    #input-upload {
        display: none;
    }
  }

  main {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
  }
}  