body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    color: black;
    font: 10px sans-serif;
}

  
  .grid-container > div {
    background-color: #fff;

  }

  .item-information {
    display: flex;
    flex-direction: row;
    grid-area: information;
    padding-top: 2px;
    line-height: 2;
    visibility:hidden;
  }
  .item-iteration {
    grid-area: iteration;
  }

  .item-history {
    grid-area: history;
    overflow: scroll;
  }

  .item-scatterplot-1 {
    grid-area: scatterplot-1;
  }
  .item-matrix-1 {
    grid-area: matrix-1;
  }
  .item-linechart-1 {
    grid-area: linechart-1;
  }

  .item-scatterplot-2 {
    grid-area: scatterplot-2;

  }
  .item-matrix-2 {
    grid-area: matrix-2;
  }

  .item-metrics {
    display:inline;
    grid-area: metrics;
    display: flex;
    flex-direction: row;

  }
  .item-timeline-partitions {
    grid-area: partitions;
  }
  
  .item-tabbar{
    grid-area: tabbar;
  }

  .item-information-linechart{
    grid-area: infolinechart;
    padding-top: 5px;
  }
  
  .item-information-scatterplot-1{
    grid-area: infoscatterplot1;
    display: flex;
    flex-direction: row;
    line-height: 2;
  }


  .item-navbar{
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    line-height: 3.5vh;
  }

  .select-menu{
    display: flex;
    flex-direction: column;
    padding:5px;
  }

  .select-menu-input{
    display: flex;
    flex-direction: column;
    height: 40px !important ;
    padding:5px !important;
    width: 100px!important;
  }

  .select-button{
    line-height: 3.5vh;
  }

  .select-label{
    line-height: 38px;
  }
 

  .item-configuration{
    grid-area: configuration;
  }

  .item-dropdown-metrics{
    grid-area: dropdownmetrics;
    display: flex;
    flex-direction: row;
  }

  .metrics-dropdown{
    float: right;
    position: relative;
    margin-top: 10px;
    padding:3px;
    z-index: 9;
  }

  #button-metric{
    display:none;
  }

  #table-metrics{
    display:none;
    background-color: #ededed;
  }
  thead, tbody{
    background-color: #ededed;
  }


  .linechart_select{
    display:none;
  }

  .grid-container{
    display: grid;
   
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 7vw 33vw 24vw 35vw ;
    grid-template-rows: 7vh 4vh 42vh 4vh 42vh;
    grid-template-areas: 
      "navigation navigation navigation navigation"
      "iteration infoscatterplot1 metrics dropdownmetrics"
      "history scatterplot-1 matrix-1 linechart-1"
      "history information information infolinechart"
      "history scatterplot-2 matrix-2 partitions"
  }

#iteration-info{
  display: inline-block;
  display: flex;
    flex-direction: row;

}
.axisLineChart path,
.axisLineChart line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.lineLineChart {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.lineLineChart1 {
  fill: none;
  stroke-width: 2px;
}

.lineLineChart2 {
  fill: none;
  stroke-width: 2px;
}

.lineLineChart3 {
  fill: none;
  stroke-width: 2px;
}

.legendOrdinal {
  font-size: 10px
}

canvas{
  padding:10px
}


.grid {
  stroke: #9A8B7A;
stroke-width: 1px; fill: #CF7D1C;
} 
.arc {
  stroke: #9A8B7A;
fill: none;
}
.node {    
fill: #EBD8C1;
stroke: #9A8B7A; 
stroke-width: 1px;
}
circle.active {
fill: #FE9922;
}
path.active {
stroke: #FE9922;
}
circle.source {
fill: #93C464;
}
circle.target {
fill: #41A368;
}

.item-scatterplot-1 {
  margin-left: 10px;
}
.item-scatterplot-2, .item-information, .item-iteration {
  margin-left: 10px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.timeline-checkbox-active{
  fill:#000;
  stroke-width:3;
  stroke: #000;
}

.timeline-checkbox-disable{
  fill:#fff;
  stroke-width:3;
  stroke: #6C757D;
}


#similarity-range{
  width:60px;
}

#information-info{
  line-height: 2;

}